/* HEADER *******************************/
.header{
    background-color: var(--clr-dark-300);
    color: var(--clr-text-primary);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 150ms ease-in-out;
    
}


.header__container{
    width: min(1144px,95%);
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img{
    width: 130px;
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link{
    color: gray;
    transition: 250ms ease-in;
}
.nav__link:hover{
    color: var(--clr-text-primary);
}
.nav__button{
    padding: .7rem 1.2rem;
    border-radius: 20px;
    border: 1px solid var(--clr-text-primary);
    background-color: var(--clr-bg-secondary);
    color: var(--clr-text-primary);
    font-size: .9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: 300ms ease-in-out;
}
.nav__button:hover{
    background-color: var(--clr-text-primary);
    color: var(--clr-dark-100);
}
.nav__svg path{
    transition: 300ms ease-in-out;
}
.nav__button:hover .nav__svg path{
    stroke: var(--clr-dark-100);
}

.hamburger{
    display: none;
}

@media (max-width: 960px){
    .nav__list{
        gap: 1.6rem;
    }
    .nav__button{
        padding: .5rem .9rem;
    }
}
@media (max-width: 680px){
    .header{
        height: 60px;
    }
    .header.active{
        background-color: var(--clr-dark-200);
    }
    .nav__list{
        position: absolute;
        top: 60px;
        flex-direction: column;
        gap: 1.5rem;
        align-items: start;
        width: 100%;
        background-color: var(--clr-dark-200);
        color: var(--clr-text-primary);
        height: calc(100vh - 60px);
        padding-block-start: 3rem;
        padding-inline-start: 20px;
        transition: all 150ms ease-in-out;
        left: -100%;
    }
    .nav__list.active {
        left: 0;
    }
    .nav__link{
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .nav__button{
        padding: .8rem 1.6rem;
    }
    .hamburger{
        width: 20px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .hamburger__line{
        width: 100%;
        height: 2.4px;
        background-color: var(--clr-text-primary);
        transition: all 150ms ease-in-out;
    }
    .hamburger.active .hamburger__line:nth-child(2){
        opacity: 0;
        width: 0;
    }
    .hamburger.active .hamburger__line:nth-child(1){
        transform: rotate(45deg);
        margin-block-start: 4px;  
    }
    .hamburger.active .hamburger__line:nth-child(3){
        transform: rotate(-45deg);
        margin-block-end: 12px;  
    }
}




/* CONNECT SECTION *******************************/
.connect{
    margin-block-start: 100px;
    padding-block: 2rem;
    background-color: var(--clr-dark-300);
    color: var(--clr-text-primary);
}
.connect__container{
    width: min(1144px, 95%);
    margin-inline: auto;
}
.connect__box{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-block-end: 8rem;
}

.connect__left{
    flex: 1;
}
.connect__left h2{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-block-end: .6rem;
}
.connect__left h1{
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 1.4;
}

.connect__right{
    flex: 1;
    align-self: flex-end;
}

.connect__form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.connect__form label{
    color: gray;
    font-size: 1.4rem;
    cursor: pointer;
}

.connect__form input{
    margin-block-end: 2.2rem;
    border: none;
    outline: none;
    background-color: var(--clr-dark-300);
    cursor: pointer;
    border-bottom: 1px solid gray;
    font-size: 1.1rem;
    padding-block-end: .5rem;
    color: var(--clr-text-primary);
}
.connect__form input:hover,
.connect__form input:active{
    border-bottom: 1px solid var(--clr-text-primary);
}

.connect__form textarea{
    background-color: var(--clr-dark-300);
    color: var(--clr-text-primary);
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid gray;
    font-size: 1.2rem;
}
.connect__form textarea:hover,
.connect__form textarea:active{
    border-bottom: 1px solid var(--clr-text-primary);
}

.connect__submit{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect__div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark-300);
    color: gray;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}



@media (max-width:680px){
    .connect{
        margin-block-start: 60px;
    }
    .connect__box{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .connect__left h2{
        font-size: 1.2rem;
    }
    .connect__left h1{
        font-size: 2rem;
    }
    .connect__right{
        align-self: flex-start;
    }
    .connect__form{
        width: 100%;
    }
    .connect__submit{
        padding-block-start: 3rem;
        width: 200px;
        height: 200px;
        width: 100%;
    }
}







/* FOOTER *******************************/
.footer{
    width: 100%;
    background-color: var(--clr-dark-300);
    color: var(--clr-text-primary);
    
}
.footer__container{
    width: min(1144px,95%);
    margin-inline: auto;
    padding-block: 4rem;
}

.footer__bottom{
    width: min(1144px,95%);
    margin-inline: auto;
    margin-block-start: 6rem;
    padding-block: 4rem;
    padding-block-end: 6rem;
    border-top: 1px solid gray;
}
.footer__bottom img{
    width: 130px;
    margin-block-end: 1.2rem;
}